<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ url_for('static', filename='img/icon.ico')}}" type="image" sizes="32x32">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Righteous&family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{{ url_for('static', filename='js/CRUD_dashboardMenu.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Dashboard</title>
    
</head>
<body>
    <header class="oscuro">
        <div class="logo">
            <a href="{{ url_for('lienzo.index') }}"><img src="{{ url_for('static', filename='img/iconoPrincipal.png') }}" alt=""></a>
        </div>
        <a href="{{ url_for('auth.logout') }}" class="btnA"><button>Cerrar sesión</button></a>
    </header>

    <section class="principal">
      <div class="cuadro">

        <div class="sidebar">
          <div class="logoDash"><img src="{{ url_for('static', filename='img/iconoDashboardTransparente.png') }}" alt=""></div>
          <ul class="menu">
            <li class="selected">
              <div id="contenido-derecha">
                <a href="#" id="opcion-exposiciones-culturales"><span >Menú</span></a>
              </div>
            </li>
            <li>
              <a href="{{ url_for('lienzo.dashboardEventos') }}" id="opcion-exposiciones-culturales">  
                <div id="contenido-derecha"><span>Eventos</span></div></a>
            </li>
            <li>
              <a href="{{ url_for('lienzo.dashboardExposiciones') }}" id="opcion-exposiciones-culturales">  <div id="contenido-derecha"><span>Exposiciones</span></div></a>
            </li>

            <li>
              <a href="{{ url_for('lienzo.dashboardUsuarios') }}" id="opcion-dashboard-usuarios"> 
              
                <div id="contenido-derecha"><span>Usuarios</span></div></a>
            </li>
          </ul>
        </div>

        <div class="main--content">
          <div class="header-wrapper">
            <div class="header--title">
              <span>Usuario</span>
              <h2>Administrador</h2>
            </div>

          </div>

          <div class="tabular--wrapper">
            <div class="main--title">
              <div class="botones">
                <button id="toggleButton" onclick="toggleFormInsert()">Agregar</button>
                <button id="toggleButton" onclick="toggleFormUpdate()">Modificar</button>
                <button id="toggleButton" onclick="toggleFormDelete()" class="eliminar">Eliminar</button>
              </div>
            </div>
            <div class="table-container">
              <table id="tablaMenu">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                  </tr>
                <tbody>
                  
                </tbody>
                </thead>
              </table>
            </div>
          </div>

        </div>
        <div id="formulario INSERT" onsubmit="return validarFormulario()" class="formulario-visible" hidden>
          <form class="formularioInsert" method="POST" enctype="multipart/form-data">
            <div>
              <label for="Nombre">Nombre:</label>
              <input type="text" id="Nombre" name="Nombre" required>
            </div>
            <div>
              <label for="tipo">tipo:</label>
              <select type="text" id="tipo" name="tipo" required>
                <option value="Entrada">Entrada</option>
                <option value="Platillo">Platillo</option>
                <option value="Bebida">Bebida</option>
                <option value="Postre">Postre</option>
            </select>
            </div>
            <div>
              <label for="precio">precio:</label>
              <input type="text" id="precio" name="precio" required>
            </div>
            <div>
              <input type="hidden" name="accion" value="insertar">
              <button type="submit">Insertar</button>
            </div>
          </form>
        </div>
    
        <div id="formulario Update" class="formulario-visible" hidden>
          <form class="formularioInsert" method="POST" enctype="multipart/form-data">
            <div>
              <label for="id">ID:</label>
              <input type="text" id="id" name="id" required>
            </div>
            <div>
              <label for="Nombre">Nombre:</label>
              <input type="text" id="Nombre" name="Nombre" required>
            </div>
            <div>
              <label for="tipo">tipo:</label>
              <select type="text" id="tipo" name="tipo" required>
                <option value="Entrada">Entrada</option>
                <option value="Platillo">Platillo</option>
                <option value="Bebida">Bebida</option>
                <option value="Postre">Postre</option>
            </select>
            </div>
            <div>
              <label for="precio">precio:</label>
              <input type="text" id="precio" name="precio" required>
            </div>
            <div>
              <input type="hidden" name="accion" value="modificar">
              <button type="submit">Actualizar</button>
            </div>
          </form>
        </div>
    
        <div id="formulario Delete" class="formulario-visible" hidden>
          <form class="formularioDelete"  method="POST" enctype="multipart/form-data">
            <div>
              <label for="id">ID:</label>
              <input type="text" id="id" name="id" required>
            </div>
              <input type="hidden" name="accion" value="eliminar">
              <button type="submit" class="eliminar">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      
    </section>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
      function validarFormulario() {
          // Obtener el valor del campo numérico
          const numeroInput = document.getElementById("precio");
          const numero = numeroInput.value.trim();

          // Verificar si el valor es numérico
          if (!esNumero(numero)) {
              alert("Por favor, ingrese un número válido.");
              return false; // Evita el envío del formulario
          }

          // Aquí puedes realizar validaciones adicionales si es necesario.

          return true; // Permite el envío del formulario
      }

      function esNumero(valor) {
          // Verificar si el valor es numérico
          // Utilizamos la función isNaN() que devuelve true si el valor no es un número.
          // Si es un número, el resultado se negará para que devuelva true en ese caso.
          return !isNaN(valor);
      }
  </script>
</body>
</html>